### Go Patch ###
/vendor/
/Godeps/

### IDEs and stuff ###
.idea/
.vscode/

# End of https://www.gitignore.io/api/go

# Our binaries
/lakefs
/lakefs-loadtest
/lakectl
/main
/cmd/lakefs/lakefs
/cmd/lakefs-loadtest/lakefs-loadtest
/cmd/lakectl/lakectl
/dist

# client excludes
/webui/node_modules

# server excludes
/api/gen
/statik
/ddl/statik.go
.DS_Store

# recordings
gateway/testdata/recordings/

# Docs
/docs/_site/
